{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <script src="{% static 'js/app.js' %}" defer></script>
    <title>My site</title>
</head>
<body>
  <header>
    {% if request.user.is_authenticated %}
      <a href="{% url 'posts' %}">My Posts</a>
      <a href="{% url 'post-create' %}">New Post</a>
      <span>Hi {{request.user.username|title}}</span>
      <a href="{% url 'logout' %}">Logout</a>
    {% else %}
      <a href="{% url 'login' %}">Login</a>
      <a href="{% url 'register' %}">Register</a>
    {% endif %}
  </header>
    <main role="main" class="container"  >
        {% if messages %}
          {% for message in messages %}
            {% if message.tags == "error"%}
            <div class="alert alert-error">
              {{ message }}
            </div>
            {% else %}
            <div class="alert alert-success">
              {{ message }}
            </div>
            {% endif %}
          {% endfor %}
        {% endif %}


    {% block content %}
    {% endblock content %}
</body>
</html>